# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
_env/
venv/
.env/
.venv/

# Distribution / Packaging
build/
dist/
*.egg-info/

# Python egg files
*.egg
.eggs/

# Installer logs and caches
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
*.cover
htmlcov/
.tox/
.nox/
.cache/

# Sphinx documentation
docs/_build/

# Temporary files
*.bak
*.swp
*.tmp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Mac OS system files
.DS_Store