name: Publish Python Package

on:
    push:
        branches:
            - main

jobs:
    publish:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v3
            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                  python-version: "3.9"
            - name: Install
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt
            - name: Build
              run: |
                  python setup.py sdist bdist_wheel
            - name: Publish
              env:
                  TWINE_USERNAME: "__token__"
                  TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
              run: |
                  python -m twine upload --repository pypi dist/*